.main {
  padding: 65px 0 60px;
      @media (min-width: 1024px) {
   padding: 0px 0 60px;
    }
  .container {
    max-width: 300px;
    // padding: 0 55px;
    margin: 0 auto;
    position: relative;
    @media (min-width: 430px) {
      max-width: 430px;
    }
    @media (min-width: 768px) {
      max-width: 550px;
    }
    @media (min-width: 1024px) {
      max-width: 700px;
    }
    @media (min-width: 1280px) {
      max-width: 800px;
    }
  }
  &__name {
    padding: 0 0 260px;
    position: relative;
     @media (min-width: 1024px) {
padding: 0 0 350px;
    }
  }
  
  &__title {
    font-family: "Wonder Garden";
    font-weight: 300;
    font-size: 146px;
    line-height: 80px;
    text-align: start;
    color: #1e1e1e;
    position: absolute;
    &-top {
      left: -12%;
      top: 0;
         @media (min-width: 430px) {
left: 10%;
    }
      @media (min-width: 768px) {
left: 15%;
    }
        @media (min-width: 1024px) {
left: 10%;
    }
//     @media (min-width: 1280px) {
// left: 15%;
//     }
    }
    &-middle {
      left: 80px;
      top: 100px;
      transform: rotate(60deg);
         @media (min-width: 430px) {
left: 150px;
      top: 100px;
    }
      @media (min-width: 768px) {
left: 200px;
      top: 100px;
    }
      @media (min-width: 1024px) {
    left: 250px;
    top: 125px;
    }
           @media (min-width: 1280px) {
    left: 340px;
    top: 110px;
    }
  }
    &-bottom {
      right: -13%;
      top: 100px;
             @media (min-width: 430px) {
  right: 10%;
    }
         @media (min-width: 768px) {
right: 15%;
    }
        @media (min-width: 1024px) {
  right: 10%;
    }
//     @media (min-width: 1280px) {
// right: 15%;
//     }
    }
    @media (min-width: 1024px) {
      font-size: 220px;
      line-height: 260px;
    }
  }
  &__textwrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    font-family: "Wonder Garden";
    font-weight: 300;
    font-size: 82px;
    line-height: 97px;
    text-align: center;
    color: #1e1e1e;
    @media (min-width: 1024px) {
      font-size: 110px;
      line-height: 130px;
    }

    &-bottom {
      font-family: "Source Serif 4", serif;
      font-weight: 300;
      font-size: 22px;
      line-height: 28px;
      padding: 0 0 0 5px;
      @media (min-width: 1024px) {
        font-size: 32px;
        line-height: 36px;
      }
    }
  }
  &__calendar {
  max-width: 300px;
       margin: 0 auto;
        margin-bottom: 60px;
    position: relative;
    @media (min-width: 1024px) {
      max-width: 400px;
       margin: 0 auto;
       margin-bottom: 40px;
    }
  }
  &__imgwrap {
    position: absolute;
    top: 83%;
    left: 211px;
    z-index: 100;
    @media (min-width: 1024px) {
    top: 79%;
    left: 286px;
    }
  }
  &__image {
    height: 44px;
    width: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: 1024px) {
      height: 68px;
      width: 61px;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  table {
    width: 100%;
     
    // border-collapse: collapse;
  }

  th,
  td {
    // border: 1px solid #ccc;
    padding: 10px;
  }

  // thead {
  //     background-color: #f0f0f0;
  // }

  th {
    text-align: center;
    font-family: "Source Serif 4", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    @media (min-width: 1024px) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  td {
    text-align: center;
    font-family: "Source Serif 4", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    @media (min-width: 1024px) {
      font-size: 18px;
      line-height: 22px;
    }
  }
  &__july {
    text-align: center;
    font-family: "Source Serif 4", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.3;
    @media (min-width: 1024px) {
      font-size: 18px;
      line-height: 22px;
    }
  }
}
